body {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    text-align: center;
    background-image: linear-gradient(rgb(34, 255, 255), rgb(55, 200, 89));
    background-color: aquamarine;
}
.card{
    text-align: center;
    background-color: rgb(163, 243, 249);
}

.Video-C {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.botton{
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 25px;
    width: 400px;
    height: auto;
}

.gallery2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery2 img {
    margin: 25px;
    width: 400px;
    height: auto;
}

.container {
    display: grid;
    gap: 10px;
    text-align: left;

}

.column {
    border: 10px solid #ccc;
    padding: 10px;
    background-color: rgb(204, 203, 248);
}
section {
    margin: auto;
    display: flex;
    width: 800px;
    height: 430px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.gale{
background-color: aquamarine;
background-image: linear-gradient(blue,red);
}


