body {
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgb(123, 11, 11), rgb(30, 15, 141));
    margin: 1;
    padding: 1;
    background-color: #1b839a;
    color: #d5e7be;

}

div.subtitulos {
    color: rgb(74, 217, 243);
}

header, footer {
    background-color: rgba(44, 198, 198, 0.692);
    background-image: linear-gradient(rgb(0, 0, 100), black);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    text-anchor: middle;

}


main {
    padding: 50px;

    text-align: left;
}

img {
    border-radius: 80px;
    box-shadow: 0 8px 8px rgba(7, 0, 0, 0.2);
    position: absolute;
    top: 250px;
    right: 200px;
    width: 300px;
    height: auto;
    width: "1";
    height: "1"
};

.botton{
    color: rgb(219, 189, 99);
};
